.main-root {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh
}

.main-insider-root {
  height: 100vh;
  display: flex;
  width: 100%;
  max-width: unset !important;
  justify-content: space-between;
}