:root {
  --authenticFontFamily: "Satoshi", sans-serif;

  /* dark color */
  --authenticDarkColor001: #1B1B1B;
  --authenticDarkColor002: #262626;
  --authenticDarkColor003: #454545;
  --authenticDarkColor004: #121112;

  /* white color */
  --authenticLightColor001: #D1D0D0;

  /* transitions easing */
  --authenticTransitionExpoOut: cubic-bezier(0.16, 1, 0.3, 1);
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  font-family: var(--authenticFontFamily);
  transition: background-color 2.5s ease;
}

img {
  width: inherit;
  height: inherit;
  object-fit: inherit;
}

a {
  color: var(--authenticDarkColor001);
}

a[data-reduce-opacity-on-hover]:hover {
  opacity: 0.75;
}

::selection {
  color: var(--authenticLightColor001);
  background-color: var(--authenticDarkColor003);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--authenticDarkColor003);
}

::-webkit-scrollbar-thumb {
  background: var(--authenticLightColor001);
}